<div>
  
  <p>投稿ユーザー画像：<%= image_tag @post_image.user.get_profile_image(100,100) %></p>
  <p>Title：<%= @book.title %></p>
  <p>Opinion：<%= @book.body %></p>
  
  <% if @book.user_id == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
  
</div>
